<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 text-left">
      <p class="font-size-header">Sermaluc Ltda.</p>
      <p class="font-size-header">Huerfanos 979 Of. 919</p>
      <p class="font-size-header">Santiago.</p>
      <p class="font-size-header">+56 22 2307 6045</p>
    </div>
    <div class="col-md-2 text-left">
      <p class="font-size-header">www.sermaluc.cl</p>
      <p class="font-size-header"></p>
      <p class="font-size-header">Representante Empresa</p>
      <p class="font-size-header">Lucía Melendez H.</p>
    </div>
    <div class="col-md-5"></div>
    <div class="col-md-3 text-right">
      <img src="assets/img/Imagen1.png">
    </div>
  </div>
  <div class="jumbotron text-center" style="background-color: #161F31; height: 400px;">

      <h1 style="color:white">{{proyecto.nombreProyecto}}</h1>


      <div class="row">

          <div class="col-md-8 text-left">    
    
              <table class="table table-bordered text-left" border=1px bodercolor=blue>
                <tbody>

                    <tr>
                        <td class="color-tabla" >&nbsp; </td>
                        <td class="color-tabla"  >&nbsp;</td>
                      </tr>
                      <tr>
                          <td class="color-tabla">&nbsp;</td>
                          <td class="color-tabla"  >&nbsp;</td>
                      </tr> 
                  <tr>
                    <td class="color-tabla" style="color:white">Entregado a </td>
                    <td class="color-tabla"  style="color:white">{{cliente.nombreContraparte}}</td>
                  </tr>
                  <tr>
                    <td class="color-tabla" style="color:white">Fecha Entrega </td>
                    <td class="color-tabla"  style="color:white">{{proyecto.fechaInicio}}</td>
                  </tr>                                
                 
                </tbody>
              </table>    
              </div>

          <div class="col-sm-4 text-right" style="border-bottom-color: #161F31; border-bottom-style: solid; border-bottom-width: 2px;">
            <h2>&nbsp;</h2>
          </div>
    
          
        </div>

  </div>
  
  <div class="row">
    <div class="col-sm-4 text-left">
      <p class="font-size-header">
        <strong>Declaración de Confidencialidad </strong>
      </p>
    </div>
    <div class="col-md-8"></div>
  </div>
  
  
  <div class="row">
    <div class="col-sm-12 text-left">
      <p class="font-size-header">
        <small>Esta propuesta y materiales de apoyo contienen información confidencial y de propiedad de Sermaluc. Este material
          puede ser impreso o fotocopiados para su uso en la evaluación del proyecto propuesto, pero no deben ser compartidos
          con otras partes</small>
      </p>
    </div>
  </div>

</div>