<div class="row">
  <div class="col-sm-4 text-left">
    <p class="font-size-header">
      <strong>&nbsp; </strong>
    </p>
  </div>
  <div class="col-md-8"></div>
</div>


<div class="row">
  <div class="col-sm-12 text-left">
    <p class="font-size-header">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/img/Imagen1.png" height="35" width="32">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <small> Nombre Cliente: {{cliente.nombreContraparte}} | Nombre Proyecto:{{proyecto.nombreProyecto}}  </small>  
    </p>
  </div>
</div>   