.font-size-task {
    font-size: 13px;
}
.atrasado {
    border-left-color: red; 
    border-left-style: solid; 
    border-left-width: 3px
}
.positivo {
    border-left-color:green; 
    border-left-style: solid; 
    border-left-width: 3px
}

.iguales {
    border-left-color: blue; 
    border-left-style: solid; 
    border-left-width: 3px
}