#firstname {
    background-color: #161F31;
    border-style: solid;
    text-align: center;
    height: 20px;
    width: 100%;
 }

 .color-tabla {
    background-color: #161F31;
    border-style: solid;
    border-color: #161F31;
 }
 .col-md-3 {    
    height: 100px;
  }