<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 text-left">
      <p class="font-size-header">Sermaluc Ltda.</p>
      <p class="font-size-header">Huerfanos 979 Of. 919</p>
      <p class="font-size-header">Santiago.</p>
      <p class="font-size-header">+56 22 2307 6045</p>
    </div>
    <div class="col-md-2 text-left">
      <p class="font-size-header">www.sermaluc.cl</p>
      <p class="font-size-header"></p>
      <p class="font-size-header">Representante Empresa</p>
      <p class="font-size-header">Lucía Melendez H.</p>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-3 text-right">.col-md-4</div>
  </div>
  <div class="jumbotron text-center" style="background-color: #161F31">
    <h1 style="color:white">Nombre del proyecto</h1>
  </div>
</div>